<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	 <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css">-->
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container-fluid">
		<div id="brandname">
			<h1> UIC Text Summarizer app</h1>
		</div>
		<br>
			<h3>Instructions on how to use this app</h3>
			<ul>
				<li>Enter the link of any article or the article itself in the text box below</li>
			    <li>Hit submit button</li>
			</ul>


	</div>
	</header>

	<div class="ml-container" style="margin-left:20px;">

		<form action="{{ url_for('model')}}" method="POST">
		<p>Enter Your link/text Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="link" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="submit">

	</form>

	</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>