<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			NLP App with Flask
		</div>
		<h2>Text Summarizer</h2>

	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('model')}}" method="POST">
		<p>Enter Your link Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="link" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="submit">

	</form>

	</div>




</body>
</html>